In [ ]:
# importing libraries
import nltk                                
import matplotlib.pyplot as plt    
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re                                 
import string

# **Building the Words dictionary**

In [ ]:
words_dictionary = pd.read_csv('/content/drive/MyDrive/words_dictionary.csv', encoding='latin-1')

words_dictionary.sort_values('Total', ascending = False)

,Unnamed: 0,Extremely Positive,Positive,Neutral,Negative,Extremely Negative,Total
23,covid,6284.0,11372.0,8301.0,9791.0,5430.0,41178.0
232,price,1052.0,2295.0,1365.0,2747.0,1605.0,9064.0
67,store,1487.0,2441.0,1592.0,1854.0,837.0,8211.0
49,supermarket,1186.0,2127.0,1446.0,1958.0,1064.0,7781.0
33,food,1042.0,1866.0,707.0,2079.0,1598.0,7292.0
...,...,...,...,...,...,...,...
4709,businessown,1.0,3.0,2.0,0.0,0.0,6.0
4707,arrog,0.0,1.0,0.0,2.0,3.0,6.0
4705,dynata,2.0,3.0,1.0,0.0,0.0,6.0
4686,havent,1.0,2.0,1.0,1.0,1.0,6.0
6532,quiroga,6.0,0.0,0.0,0.0,0.0,6.0

In [ ]:
cond1 = words_dictionary['Total'] > 5
sum(cond1)

6533

In [ ]:
words_dictionary = words_dictionary[cond1]

In [ ]:
#words_dictionary = words_dictionary[~ (words_dictionary['Unnamed: 0'] == 'covid')]

In [ ]:
vocabulary = set(words_dictionary.iloc[:,0])
data = np.array(words_dictionary.iloc[:,1:6])
suma = sum(data)

for i in range(0,5):
  for j in range(0,len(data)):
    data[j,i] = data[j,i]/suma[i]
    if data[j,i] == 0:
      data[j,i] = 1/(suma[i] + len(vocabulary))

In [ ]:
for i in range(0,5):
  words_dictionary[i+1] = data[:,i]

In [ ]:
words_dictionary.sort_values('Total', ascending = False)

,Unnamed: 0,Extremely Positive,Positive,Neutral,Negative,Extremely Negative,Total,1,2,3,4,5
23,covid,6284.0,11372.0,8301.0,9791.0,5430.0,41178.0,0.051606,0.061055,0.088590,0.061050,0.054252
232,price,1052.0,2295.0,1365.0,2747.0,1605.0,9064.0,0.008639,0.012322,0.014568,0.017128,0.016036
67,store,1487.0,2441.0,1592.0,1854.0,837.0,8211.0,0.012212,0.013105,0.016990,0.011560,0.008363
49,supermarket,1186.0,2127.0,1446.0,1958.0,1064.0,7781.0,0.009740,0.011420,0.015432,0.012209,0.010631
33,food,1042.0,1866.0,707.0,2079.0,1598.0,7292.0,0.008557,0.010018,0.007545,0.012963,0.015966
...,...,...,...,...,...,...,...,...,...,...,...,...
4709,businessown,1.0,3.0,2.0,0.0,0.0,6.0,0.000008,0.000016,0.000021,0.000006,0.000009
4707,arrog,0.0,1.0,0.0,2.0,3.0,6.0,0.000008,0.000005,0.000010,0.000012,0.000030
4705,dynata,2.0,3.0,1.0,0.0,0.0,6.0,0.000016,0.000016,0.000011,0.000006,0.000009
4686,havent,1.0,2.0,1.0,1.0,1.0,6.0,0.000008,0.000011,0.000011,0.000006,0.000010
6532,quiroga,6.0,0.0,0.0,0.0,0.0,6.0,0.000049,0.000005,0.000010,0.000006,0.000009

In [ ]:
words_dictionary.to_csv('/content/drive/MyDrive/words_dictionary_probab.csv',index = False)