In [ ]:
# importing libraries
import nltk                                
import matplotlib.pyplot as plt        
import random               
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re                                 
import string                            
from nltk.corpus import stopwords        
from nltk.stem import PorterStemmer       
from nltk.tokenize import TweetTokenizer

In [ ]:

hiperlink_string = ''
hashtag_string = ''
mention_string = ''

retweet_string = ''

In [ ]:
df_train = pd.read_csv('/content/drive/MyDrive/Corona_NLP_train.csv', encoding='latin-1')
df_test = pd.read_csv('/content/drive/MyDrive/Corona_NLP_test.csv', encoding='latin-1')
df_train
# table has 41157 rows 
# columns are UserName, ScreenName, Location, Tweet at, Original Tweet and Sentiment/Label

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [ ]:
# drop UserName and ScreenName column
df_train.drop(['UserName'], axis=1, inplace=True)
df_train.drop(['ScreenName'], axis=1, inplace=True)

df_test.drop(['UserName'], axis=1, inplace=True)
df_test.drop(['ScreenName'], axis=1, inplace=True)

In [ ]:
#df.nunique()

In [ ]:
def unique_column_values(df,s):

  #input arguments:
  # df - data frame
  # s -string, column name

  # check how many unique values there are in the column s of the dataframe df
  # return how many times every unique values appears in columns of the dataframe df

  unique_values = df[s].unique()
  values = []
  for i in unique_values:
    print('{0}  {1}'.format(i , len(df[df[s]==i])))
    values.append(len(df[df[s]==i]))

  return values

In [ ]:
#unique_column_values(df,'Sentiment')

News about COVID-19 was rapidly changing during 2020. The number of tweets per day is plotted below.

In [ ]:
#num_of_tweets = unique_column_values(df,'TweetAt')

#ticks = [0, 5, 10, 14]
#labels = ['2-3-2020','7-3','12-3','16-3-2020']

#plt.figure()
#plt.plot(num_of_tweets)
#plt.title('Promjena broja objavljenih tvitova tokom vremena')
#plt.xlabel('datum')
#plt.ylabel('broj tvitova')
#plt.xlim([0,14])
#plt.xticks(ticks, labels)

There are five classes: 

*   Neutral
*   Positive
*   Extremely Negative
*   Negative
*   Extremely Positive

The number of tweets from each class is plotted below. Tweets are not equally distributed over classes.

In [ ]:
#sns.countplot(y=df.Sentiment)
#plt.xlabel('broj tvitova')
#plt.ylabel('labela')
#plt.title('Raspored tvitova po klasama')
#plt.show()

Random examples of tweets from each class

In [ ]:
#print('\033[91m'+ 'Extremely Positive:')
#print(df[df.Sentiment == 'Extremely Positive'].iloc[random.randint(0,600)]['OriginalTweet'])
#print()

#print('\033[95m'+'Positive:')
#print(df[df.Sentiment == 'Positive'].iloc[random.randint(0,900)]['OriginalTweet'])
#print()

#print('\033[90m'+'Neutral:')
#print(df[df.Sentiment == 'Neutral'].iloc[random.randint(0,550)]['OriginalTweet'])
#print()

#print('\033[92m'+'Negtive:')
#print(df[df.Sentiment == 'Negative'].iloc[random.randint(0,1000)]['OriginalTweet'])
#print()

#print('\033[94m'+'Extremely Negtive:')
#print(df[df.Sentiment == 'Extremely Negative'].iloc[random.randint(0,600)]['OriginalTweet'])
#print()

Removing stopwords with NLTK.corpus library. Stopwords are:
> I, me, my, myself, we, our, you've, you'll, you'd, your, she's, her, hers, herself....

In [ ]:
# download the stopwords from NLTK
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#Import the english stop words list from NLTK
stopwords_english = stopwords.words('english') 
stemmer = PorterStemmer() # instantiate stemmer

In [ ]:
df_train["TweetTokens"] = "" # add additional column to dataframe
df_test["TweetTokens"] = ""

# instantiate tokenizer class
tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True,reduce_len=True)

In [ ]:
def is_ascii(s):
    # removes all words consisting with non-alphabet char or numbers
    return all(ord(c) < 123 and ord(c) > 96 for c in s)

Preprocessing of each tweet:
1.   remove old style retweet text "RT"
2.   replace hiperlink with postojaojelink
3.  remove hashtags, only removing the hash # sign from the word

Preprocess every single tweet.

In [ ]:
for i in range(0,len(df_train)):

  tweet = df_train.at[i,'OriginalTweet']
  tweet =  re.sub(r'^RT[\s]+', retweet_string, tweet)
  tweet = re.sub(r'https?://[^\s\n\r]+', hiperlink_string, tweet)
  tweet = re.sub(r'#', '', tweet)
  tweet = re.sub(r"@\w+", mention_string,tweet) 
  # tokenize tweets
  df_train.at[i,'TweetTokens'] = tokenizer.tokenize(tweet)

  tweets_clean = []
  for word in df_train.at[i,'TweetTokens']: # Go through every word in your tokens list
    if word == 'coronavirus':
      word = 'covid'  # coronavirus and covid are semantically the same
    if (word not in stopwords_english and word not in string.punctuation and is_ascii(word)):
      tweets_clean.append(stemmer.stem(word)) #stemming word
  if len(tweets_clean) > 0:
    df_train.at[i,'TweetTokens'] = tweets_clean
  else:
    df_train.at[i,'TweetTokens'] = ''

In [ ]:
for i in range(0,len(df_test)):

  tweet = df_test.at[i,'OriginalTweet']
  tweet =  re.sub(r'^RT[\s]+', retweet_string, tweet)
  tweet = re.sub(r'https?://[^\s\n\r]+', hiperlink_string, tweet)
  tweet = re.sub(r'#', hashtag_string, tweet)
  tweet = re.sub(r"@\w+", mention_string,tweet) 
  # tokenize tweets
  df_test.at[i,'TweetTokens'] = tokenizer.tokenize(tweet)

  tweets_clean = []
  for word in df_test.at[i,'TweetTokens']: # Go through every word in your tokens list
    if word == 'coronavirus':
      word = 'covid'  # coronavirus and covid are semantically the same
    if (word not in stopwords_english and word not in string.punctuation and is_ascii(word)):
      tweets_clean.append(stemmer.stem(word)) #stemming word
  if len(tweets_clean) > 0:
    df_test.at[i,'TweetTokens'] = tweets_clean
  else:
    df_test.at[i,'TweetTokens'] = ''

Remove all tweets left with no tokens.

In [ ]:
# Delete a single column from the DataFrame
df_train = df_train[df_train.TweetTokens != '']
df_test = df_test[df_test.TweetTokens != '']

In [ ]:
df_train[['OriginalTweet','TweetTokens','Sentiment']]

,OriginalTweet,TweetTokens,Sentiment
1,advice Talk to your neighbours family to excha...,"[advic, talk, neighbour, famili, exchang, phon...",Positive
2,Coronavirus Australia: Woolworths to give elde...,"[covid, australia, woolworth, give, elderli, d...",Positive
3,My food stock is not the only one which is emp...,"[food, stock, one, empti, pleas, panic, enough...",Positive
4,"Me, ready to go at supermarket during the #COV...","[readi, go, supermarket, covid, outbreak, para...",Extremely Negative
5,As news of the regionÂs first confirmed COVID...,"[news, first, confirm, covid, case, came, sull...",Positive
...,...,...,...
41152,Airline pilots offering to stock supermarket s...,"[airlin, pilot, offer, stock, supermarket, she...",Neutral
41153,Response to complaint not provided citing COVI...,"[respons, complaint, provid, cite, covid, rela...",Extremely Negative
41154,You know itÂs getting tough when @KameronWild...,"[know, get, tough, ration, toilet, paper, covi...",Positive
41155,Is it wrong that the smell of hand sanitizer i...,"[wrong, smell, hand, sanit, start, turn, covid...",Neutral
41156,@TartiiCat Well new/used Rift S are going for ...,"[well, new, use, rift, go, amazon, rn, althoug...",Negative

In [ ]:
df_train.to_csv('/content/drive/MyDrive/train_token.csv', encoding='latin-1', index = False) # save preprocessed data 
df_test.to_csv('/content/drive/MyDrive/test_token.csv', encoding='latin-1', index = False)

Example of tweet and its tokens.

In [ ]:
#i = 25
#print(df.at[i,'OriginalTweet'])
#print(*df.at[i,'TweetTokens'], sep = ", ") 
#print(df.at[i,'Sentiment'])

# **Building the Words dictionary**

In [ ]:
# calculate word frequencies

words_dictionary = pd.DataFrame({'Extremely Positive':[],'Positive':[],'Neutral':[],'Negative':[],'Extremely Negative':[],'Total':[]})
words_set = set()

for i in range(0,len(df_train)):
  for word in df_train.iloc[i]['TweetTokens']:
    if not(word in words_set):
      words_set.add(word)
      words_dictionary.loc[word] = [0,0,0,0,0,0]
    words_dictionary.loc[word][df_train.iloc[i]['Sentiment']] += 1
    words_dictionary.loc[word]['Total'] += 1

In [ ]:
words_dictionary.sort_values('Total', ascending = False)

,Extremely Positive,Positive,Neutral,Negative,Extremely Negative,Total
covid,6284.0,11372.0,8301.0,9791.0,5430.0,41178.0
price,1052.0,2295.0,1365.0,2747.0,1605.0,9064.0
store,1487.0,2441.0,1592.0,1854.0,837.0,8211.0
supermarket,1186.0,2127.0,1446.0,1958.0,1064.0,7781.0
food,1042.0,1866.0,707.0,2079.0,1598.0,7292.0
...,...,...,...,...,...,...
gezondheid,0.0,0.0,1.0,0.0,0.0,1.0
eigen,0.0,0.0,1.0,0.0,0.0,1.0
veiligheid,0.0,0.0,1.0,0.0,0.0,1.0
uit,0.0,0.0,1.0,0.0,0.0,1.0
wheth,0.0,0.0,0.0,1.0,0.0,1.0

In [ ]:
cond1 = words_dictionary['Total'] > 5
print(f"There are {sum(cond1)} words left in dictionary after removing rare words.")
words_dictionary = words_dictionary[cond1]

There are 6533 words left in dictionary after removing rare words.

In [ ]:
words_dictionary.to_csv('/content/drive/MyDrive/words_dictionary.csv', index = True)

# Calculate probabilities for Naive Bayes classification

In [ ]:
vocabulary = set(words_dictionary.index)
data = np.array(words_dictionary.iloc[:,0:5])
suma = sum(data)

for i in range(0,5):
  for j in range(0,len(data)):
    data[j,i] = data[j,i]/suma[i]
    if data[j,i] == 0:
      data[j,i] = 1/(suma[i] + len(vocabulary))

In [ ]:
for i in range(0,5):
  words_dictionary[i+1] = data[:,i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
words_dictionary.sort_values('Total', ascending = False)

,Extremely Positive,Positive,Neutral,Negative,Extremely Negative,Total,1,2,3,4,5
covid,6284.0,11372.0,8301.0,9791.0,5430.0,41178.0,0.051608,0.061055,0.088592,0.061051,0.054252
price,1052.0,2295.0,1365.0,2747.0,1605.0,9064.0,0.008640,0.012322,0.014568,0.017129,0.016036
store,1487.0,2441.0,1592.0,1854.0,837.0,8211.0,0.012212,0.013106,0.016991,0.011560,0.008363
supermarket,1186.0,2127.0,1446.0,1958.0,1064.0,7781.0,0.009740,0.011420,0.015432,0.012209,0.010631
food,1042.0,1866.0,707.0,2079.0,1598.0,7292.0,0.008558,0.010018,0.007545,0.012963,0.015966
...,...,...,...,...,...,...,...,...,...,...,...
glutenfre,3.0,1.0,0.0,1.0,1.0,6.0,0.000025,0.000005,0.000010,0.000006,0.000010
luke,1.0,2.0,1.0,2.0,0.0,6.0,0.000008,0.000011,0.000011,0.000012,0.000009
firstdayofspr,0.0,4.0,0.0,2.0,0.0,6.0,0.000008,0.000021,0.000010,0.000012,0.000009
etsi,2.0,0.0,1.0,2.0,1.0,6.0,0.000016,0.000005,0.000011,0.000012,0.000010
quiroga,6.0,0.0,0.0,0.0,0.0,6.0,0.000049,0.000005,0.000010,0.000006,0.000009

In [ ]:
words_dictionary.to_csv('/content/drive/MyDrive/words_dictionary_probab.csv',index = True)